.header{
    height: 200px;
    background-image: url('../image/baby.jpg');
    background-image: url('../image/baby.jpg')
    background-repeat: no-repeat;
    background-position: center;
    background-color: gray;
    color: white;
}
.blog{
    background-color: red;
    color: wheat;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid green;
    border-radius: 5px;
}
.blog h3{
    text-align: center;
    color: black;
}
